<script setup>
import { useCounterStore } from '@/Store/counter.js'
import {storeToRefs} from 'pinia';

const useCounter = useCounterStore()
const {increment} = useCounter;
const {count, double} = storeToRefs(useCounter);
</script>

<template>
  <h1>Home Counter: {{ count }}</h1>
  <h2> Double: {{ double }}</h2>
  <button @click="increment">Increment</button>
</template>
