<script setup>
import axios from "axios";
import {ref} from 'vue';
import { RouterLink } from "vue-router";
import {useGetData} from '@/composables/getData'

const {data, getData, loading, error} = useGetData();


// const getData = async() => {
//     try {
//         const { data } = await axios.get('https://pokeapi.co/api/v2/pokemon');
//             console.log(data.results)
//             pokemons.value = data.results
//             ;
//          }
//      catch (error) {
//         console.log(error);
//          }
// };

 getData('https://pokeapi.co/api/v2/pokemon');
</script>


<template>
    <h1>Pokemons</h1>
    <p v-if="loading">Cargando infromación</p>
    <div class="alert alert-dangerb mt-2" v-if="error">{{ error }}</div>
    <div v-if="data">
    <ul class="list-group">
        <li  v-for="pokemon in data.results"
     :key="pokemon.index"
     class="list-group-item"> 
     <router-link :to="`/pokemons/${pokemon.name}`"> {{ pokemon.name }}</router-link>
    </li>
    </ul>
    <div class="mt-2">
    <button 
    :disabled="!data.previous" 
    class="btn  btn-success me-2" 
    @click="getData(data.previous)">
    previous</button>

    <button 
    :disabled="!data.next" 
    class="btn btn-primary" 
    @click="getData(data.next)"
     >Next</button>
    </div>
</div>
</template>