<script setup>
import { useRoute,useRouter } from "vue-router";
import { useGetData } from '@/composables/getData';
import {useFavoritosStore}  from "@/Store/favoritos.js";

const route = useRoute();
const router = useRouter();
const useFavoritos = useFavoritosStore();

const {add,findPoke} = useFavoritos
const {data, getData, loading,error} = useGetData(); 


const back = () => {
    router.push('/pokemons');
}


// const getData = async () => {
//     try{ 
//     const {data} = await axios.get(`https://pokeapi.co/api/v2/pokemon/${route.params.name}`);
//     console.log(data);
//     poke.value = data

//    } catch (e) {
//     console.log(e);
//     poke.value = null;
// }
// };

getData(`https://pokeapi.co/api/v2/pokemon/${route.params.name}`);
</script>

<template>
        <p v-if="loading">Cargando información...</p>
        <div class="alert alert-danger mt-2" v-if="error">{{ error }}</div>

    <div v-if="data">
    <img :src="data.sprites?.front_default" alt=""/>
    <h1>POke name: {{ $route.params.name }} </h1>
    <button :disabled="findPoke(data.name)" class="btn btn-primary" @click="add(data)" >Agregar favoritos</button>
    </div>

    <h1 v-else> No existe el Pokemon</h1>
    <button @click="back" class="btn btn-outline-primary">Volver</button>
</template>
