<script setup>
// defineProps(["title","id","body","colorText"])
defineProps({
    title: {
        type: String,
        required: true
    },
    id: {
        type: Number,
        required: true
    },
    body: {
        type: String,
        required: true
    },

})
const emit = defineEmits(["cambiarFavoritoNombre"])

</script>


<template>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" style="color:red">
                 {{ id }} - {{ title }}
            </h5>
            <p style="color:black" >{{body}} ♫  </p>
            <button @click="emit('cambiarFavoritoNombre',title)" class="btn btn-outline-primary" >favorito</button>
        </div>
    </div>
    
</template>