<script setup></script>

<template>
    <div class="d-flex  flex-column align-items-center justify-content-center mt-5 ">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <p class="text-center mt-2">Cargando...</p>
</template>