<script setup>
import BlogPost from './components/BlogPost.vue';
import ButtonCounter from './components/ButtonCounter.vue';
import Paginate from './components/Paginate.vue';
import LoadingSpinner from './components/LoadingSpinner.vue';
import {ref, computed, onMounted} from 'vue'

const posts = ref([ ""])

const postXpage= 10
const favorito = ref("")
const inicio = ref(0)
const fin = ref(postXpage)
const loading = ref(true);

const cambiarFavorito = (title) => {
  favorito.value = title
}
const next = () =>{
  inicio.value =  inicio.value + postXpage
  fin.value =  fin.value + postXpage
}

const prev  = () =>{
  inicio.value =  inicio.value - postXpage
  fin.value = fin.value - postXpage
}

// onMounted(async() => {
//   //loading.value = true;
//   try {
//     const res = await fetch("https://jsonplaceholder.typicode.com/posts") 
//     posts.value = await res.json()
//   } catch (e) {
//     console.log(e)
//   } finally {
//     setTimeout(() =>{
//          loading.value = false
//        },2000);
//   }
// })



// onMounted(() => {
//   loading.value = true
// fetch("https://jsonplaceholder.typicode.com/posts")
//     .then((res) => res.json())
//     .then((data) => { 
//       posts.value = data
//      })
//     .catch((e) => console.log(e))
//     .finally(() => {
//       setTimeout(() =>{
//         loading.value = false
//       },2000);
//     });
//      });

const fetchData = async() => {
  try {
    const res = await fetch("https://jsonplaceholder.typicode.com/posts")
    posts.value = await res.json()
  } catch (e) {
    console.log(e)
  } finally {
    setTimeout(() =>{
         loading.value = false
       },2000);
        }
};
fetchData()

</script>

<template>
  <loading-spinner v-if="loading"/>

 
<div class="container" v-else>
  <h1> My favorite posts: {{ favorito }}</h1>
  <Paginate 
  :inicio="inicio"
  :fin="fin"
  @nextname ="next"
  @prevname ="prev"
  :maxLength="posts.length"
  class="mb-2"/>

  <blog-post
  v-for="post in posts.slice(inicio,fin)"
  :key="post.id"
  :title="post.title"
  :id="post.id"
  :body="post.body"
  class="mb-2"
  @cambiarFavoritoNombre="cambiarFavorito"
  />
</div>
  
</template> 
