<script setup>
import { ref, computed } from 'vue';

const name = "Vue dinámico";
const counter = ref(0);
const arrayCounter = ref([]);


const increment = () => {
  counter.value++;
};
const decrement = () => {
  counter.value--;
  if (counter.value < 0) {
    return counter.value
  }
};
const reset = () => {
  counter.value = 0;
};

const add = () => {
  arrayCounter.value.push(counter.value)
};

const BlockNumber = computed(() => {
  const number = arrayCounter.value.find((num) => num === counter.value);
  return number || number === 0;
});

const classCounter = computed(() => {
  if (counter.value === 0) {
    return "zero";
  }
  return counter.value > 0 ? "positive" : "negative";
});

</script>

<template>
  <div class="container text-center mt-5">
  <h1>Hola {{ name.toUpperCase() }}</h1>
  <h2 :class="classCounter">{{ counter }}
  </h2>

  <div class="btn-group">
    <button @click="increment" class="btn btn-success">Increment</button>
    <button @click="decrement" class="btn btn-danger">Decrement</button>
    <button @click="reset" class="btn btn-secondary">reset</button>
    <button @click="add" :disabled="BlockNumber" class="btn btn-primary">add</button>
  </div>
  <h2 :class="classCounter">
    {{ arrayCounter }}
  </h2>
  <br />
  <h2 class="mt-3">Mis Favoritos</h2>
  <ul  class="list-group mt-2">
    <li v-for="(num, index) in arrayCounter" :key="index">{{ num }}
    </li>
  </ul>
</div>
</template>

<style>
.positive {
  color: green;
}

.negative {
  color: red;
}

.zero {
  color: peru;
}
</style>